* {
  border:           none;
  font-family:      Agave Nerd Font Bold;
  font-weight:      800;
  font-size:        14px;
}
window#waybar {
  background:       none;
  margin:           0px;
  padding:          0px;
}
tooltip {
  background:       rgba(40, 40, 40, 1);
  border-radius:    12px; 
  border:           4px double #EBDBB2;  
  border-color:     #ebdbb2;
  color:            #ebdbb2;
}
#workspaces button {
  border: none;
  transition-duration: 0.2s;
  background: none;
  color: #928374;
  padding-left: 0px;
  padding-right: 5px;
  box-shadow: inset 0px 0px 2px 1px rgba(40, 40, 40, 1);
}
#workspaces button label {
  color: #bbbbbb;
}
#workspaces button.active label {
  color: #cc241d;
}
#workspaces button.urgent label {
  color: #d65d0e;
}
#workspaces button:not(.empty):not(.active):not(.urgent) label {
  color: #d79921;
}
#workspaces button.empty label {
  color: #666666;
}
#custom-menu,
#tray,
#workspaces,
#cava,
#clock,
#pulseaudio,
#custom-power,
#bluetooth,
#custom-swaync-history{
  box-shadow: 4px 4px 2px 3px rgba(08, 08, 08, 1),
              0px 0px 2px 2px rgba(240, 223, 182, 1),
              inset 1px 1px 3px 1px rgba(40, 40, 40, 1),
              inset -1px -1px 3px 1px rgba(40, 40, 40, 1);             
  border-radius: 15px; 
  border: 5px double #EBDBB2;           
  background: rgba(40, 40, 40, 1);
  padding: 1px 14px 1px 8px;
  margin: 10px 10px 10px 2px;
  transition:box-shadow 0.2s ease-in-out,
             background-color 0.2s ease-in-out;
}
#custom-menu:hover,
#workspaces button:hover,
#cava:hover,
#clock:hover,
#pulseaudio:hover,
#custom-power:hover,
#bluetooth:hover,
#custom-swaync-history:hover {
  background: #d65d0e;
}
